.header {
  color: $light-pink;
  margin-bottom: $xl-size;
  padding: $s-size 0;
  border-bottom: 2px solid $light-blue;
  text-align: center;
}



.header__nav-link {
  padding: 0.6rem;
  margin: 5px;
  text-decoration: none;
}

.header__nav-link:hover {
  border-bottom: 1.4px solid $light-pink;
}

.header__active-link {
  color: darken($light-pink, 20%);
  border-bottom: 1.4px solid $light-pink;
}