.player {
  color: $dark-blue;
  font-size: 1.8rem;
  border: 1px solid darken($light-blue, 25%);
  box-shadow: 2px 3px 4px -3px rgba(0,0,0,0.75);
  text-align: center;
  width: 45rem;
  margin: $xl-size auto;
  padding:$s-size 0;
}

.player__info {
  border-bottom: 2px solid rgb(233, 57, 4);
  font-weight: bold;
  max-width: 80%;
  margin: $s-size auto;
  text-align: center;
}

.player__button {
  text-align: center;
}

.player__stats {
  color: rgb(185, 43, 0);
}

.player--compare {
  color: $dark-blue;
  font-size: $m-size;
  border: 1px solid darken($light-blue, 25%);
  box-shadow: 2px 3px 4px -3px rgba(0,0,0,0.75);
  text-align: center;
  margin: $xl-size auto;
  padding:$l-size $s-size;
  width: 45rem;
  button {
    margin-top: 13px;
    &:hover {
      margin-top: 12px;
    }
  }
}