.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $m-size;
  &__input {
    background-color: darken($off-white, 5%);
    border: none;
    border-radius: 20px;
    color: $light-pink;
    outline: none;
    padding: $s-size;
    flex-basis: calc(100% * 1/3);
    margin: 0 0 $s-size 0;
  }
}

.search-result {
  text-decoration: none;
  color: $light-pink;
  text-align: center;
}

@media (min-width: $desktop-breakpoint) {
  .search {
    flex-direction: row;
  }
  .search__input {
    margin:0 $s-size 0 0;
  }
}