.search {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.search__input {
  background-color: darken($off-white, 5%);
  border: none;
  border-radius: 20px;
  color: $light-pink;
  font-weight: 540;
  outline: none;
  padding: 0.6rem;
  flex-grow: 1;
  margin: 0 0 $s-size 0;
}

.search-result {
  text-decoration: none;
  color: $light-pink;
  text-align: center;
}

@media (min-width: $desktop-breakpoint) {
  .search {
    flex-direction: row;
  }
  .search__input {
    margin:0 $s-size 0 0;
  }
}