html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 25px;
  padding: $s-size $l-size;
  background: $color-secondary;
  outline: none;
  box-shadow: 1px 1px 4px -3px rgba(0,0,0,0.75);
  &:hover {
    color: $color-secondary;
    background: white;
    border: 1px solid $color-secondary;
    margin: -1px;
  }
  &:active, &:focus {
    border: none;
  }
}

.paragraph-default {
  font-size: 1.8rem;
  text-align: justify;
  text-align-last: center;
  color: $color-primary;
};