// Colors
$light-blue: rgb(229, 219, 241);
$off-white: rgb(241, 240, 240);
$light-pink: rgb(100, 84, 172);
$dark-blue: rgb(16, 9, 77);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;